{% extends 'base.html' %}

{% block content %}
<div class="cit-card">
  <div class="card-header">
    Admins only
  </div>
  <form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="card-content">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
    </div>
    <div class="card-footer">
      <input class="login-btn" type="submit" value="Login">
    </div>
  </form>
</div>
{% endblock %}