{% extends 'base.html' %}

{% load static %} {% block content %}

<!-- Header -->
{% include './_header.html' %}
<div class="content-wrapper">
  <div class="student-table-wrapper">
    <!-- Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger">Add Student</button>

    <table class="student-table">
      <thead>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Email</th>
        <th>DOB</th>
      </thead>
      <tbody>
        {% if students %}
          {% for student in students %}
            <tr>
              <td class="student-id">
                <a href="{% url 'student' student.id %}">
                  {{ student.id}}
                </a>
              </td>
              <td>{{ student.first_name }}</td>
              <td>{{ student.last_name }}</td>
              <td>{{ student.phone }}</td>
              <td>{{ student.address }}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.dob }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add Student</h4>
      <form action="{% url 'add-record' %}" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="first name">
        <input type="text" name="lastname" placeholder="last name">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="address" placeholder="address">
        <input type="text" name="phone" placeholder="phone">
        <input type="text" name="dob" placeholder="date of birth">
        <br /><br />
        <input type="submit" class="btn btn-primary" value="Add student">
      </form>
    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect btn-flat">Cancel</button>
    </div>
  </div>
</div>
{% endblock %}