{% extends 'base.html' %}

{% load static %} {% block content %}

<!-- Header -->
{% include './_header.html' %}
<div class="content-wrapper">
  <!-- Modal Trigger -->
  <button data-target="modal1" class="btn modal-trigger">Add Student</button>
  <div class="student-table-wrapper">
    <table class="student-table">
      <thead>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Email</th>
        <th>DOB</th>
        <th>Class time</th>
        <th>Empl status</th>
        <th>Job Goal</th>
        <th>Laptop</th>
        <th>Operating system</th>
      </thead>
      <tbody>
        {% if students %}
          {% for student in students %}
            <tr>
              <td class="student-id">
                <a href="{% url 'student' student.id %}">
                  {{ student.id}}
                </a>
              </td>
              <td>{{ student.first_name }}</td>
              <td>{{ student.last_name }}</td>
              <td>{{ student.phone }}</td>
              <td>{{ student.address }}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.dob }}</td>
              <td>{{ student.time_pref }}</td>
              <td>{{ student.empl_status }}</td>
              <td>{{ student.job_goal }}</td>
              <td>{{ student.has_laptop }}</td>
              <td>{{ student.operating_sys }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add Student</h4>
      <form action="{% url 'add-record' %}" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="first name">
        <input type="text" name="lastname" placeholder="last name">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="address" placeholder="address">
        <input type="text" name="phone" placeholder="phone">
        <input type="text" name="dob" placeholder="date of birth">
        <input 
          type="text" 
          name="time-pref" 
          placeholder="time preference"
        >
        <input 
          type="text" 
          name="empl-status" 
          placeholder="employment status"
        >
        <input type="text" name="commits" placeholder="commitments">
        <input 
          type="text" 
          name="prob-solving" 
          placeholder="problem solving abilities"
        >
        <input 
          type="text" 
          name="data-bg" 
          placeholder="background in data"
        >
        <input 
          type="number" 
          min="1" 
          max="5"
          name="mean-med-mode" 
          placeholder="mean, med, mode"
        >
        <input 
          type="number" 
          min="1" 
          max="5"
          name="programming-exp" 
          placeholder="programming experience"
        >
        <input 
          type="number" 
          min="1" 
          max="5"
          name="sql-exp" 
          placeholder="sql experience"
        >
        <input type="text" name="job-goal" placeholder="job goal">
        <input type="text" name="events" placeholder="events that led to IT">
        <input type="text" name="other" placeholder="any disabilities">
        <input type="text" name="how-find-codeit" placeholder="how find codeit">
        <input type="text" name="has-laptop" placeholder="do you have a laptop">
        <input type="text" name="op-sys" placeholder="what operating system">
        <br /><br />
        <input type="submit" class="btn btn-primary" value="Add student">
      </form>
    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect btn-flat">Cancel</button>
    </div>
  </div>
</div>
{% endblock %}