{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw==" crossorigin="anonymous" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>CIT Block</title>
</head>
<body>
  <div class="app">
    <header>
      <h4>Blockchain App</h4>
      <nav class="navbar">
        <div>
          <ul>
            <li><a href="#" class="link">Transactions</a></li>
            <li><a href="#" class="link">Students</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="chain">
    {% if blocks %}
      {% for block in blocks %}
        <div class="block">
          <p class="block-field">
            Timestamp: 
            <span class="block-value">{{block.timestamp}}</span>
          </p>
          <p class="block-field">
            Hash: 
            <span class="block-value">{{block.block_hash}}</span>
          </p>
          <p class="block-field">
            Previous hash:
            <span class="block-value">{{block.previous_block}}</span>
          </p>
          <p class="block-field">
            Action: 
            <span class="block-value">{{block.action}}</span>
          </p>
          <p class="block-field">
            Student:
            <span class="block-value">{{block.data}}</span>
          </p>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
  <footer class="footer">&copy; 2020 CIT</footer>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>